{
    "openapi": "3.0.1",
    "info": {
        "title": "Associations",
        "description": "Basepom for all HubSpot Projects",
        "version": "v4",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "FREE",
            "commerce": "FREE",
            "crmHub": "FREE",
            "dataHub": "FREE"
        },
        "x-hubspot-api-use-case": "When an existing contact has moved to a new company, update their associated company to keep your CRM up to date.",
        "x-hubspot-related-documentation": [
            {
                "name": "Associations guide",
                "url": "https://developers.hubspot.com/docs/guides/api/crm/associations/associations-v4"
            }
        ],
        "x-hubspot-introduction": "Use the associations API to create, retrieve, update, or delete associations between records, or between records and activities. "
    },
    "servers": [
        {
            "url": "https://api.hubapi.com/crm/v4"
        }
    ],
    "tags": [
        {
            "name": "Basic"
        },
        {
            "name": "Batch"
        },
        {
            "name": "Report"
        }
    ],
    "paths": {
        "/associations/usage/high-usage-report/{userId}": {
            "post": {
                "tags": [
                    "Report"
                ],
                "summary": "Report high usage",
                "description": "Requests a report of all objects in the portal which have a high usage of associations",
                "operationId": "post-/crm/v4/associations/usage/high-usage-report/{userId}_request",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportCreationResponse"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/associations/{fromObjectType}/{toObjectType}/batch/archive": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Remove associations",
                "description": "Batch delete associations for objects",
                "operationId": "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/archive_archive",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicAssociationMultiArchive"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/associations/{fromObjectType}/{toObjectType}/batch/associate/default": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Associate records (default)",
                "description": "Create the default (most generic) association type between two object types",
                "operationId": "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/associate/default_createDefault",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicDefaultAssociationMultiPost"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicDefaultAssociation"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/associations/{fromObjectType}/{toObjectType}/batch/create": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Associate records (labelled)",
                "description": "Batch create associations for objects",
                "operationId": "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/create_create",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicAssociationMultiPost"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseLabelsBetweenObjectPair"
                                },
                                "example": null
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseLabelsBetweenObjectPairWithErrors"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/associations/{fromObjectType}/{toObjectType}/batch/labels/archive": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Delete specific labels",
                "description": "Batch delete specific association labels for objects. Deleting an unlabeled association will also delete all labeled associations between those two objects",
                "operationId": "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/labels/archive_archiveLabels",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicAssociationMultiPost"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/associations/{fromObjectType}/{toObjectType}/batch/read": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Retrieve associations",
                "description": "Batch read associations for objects to specific object type. The 'after' field in a returned paging object  can be added alongside the 'id' to retrieve the next page of associations from that objectId. The 'link' field is deprecated and should be ignored. Note: The 'paging' field will only be present if there are more pages and absent otherwise.",
                "operationId": "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/read_getPage",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicFetchAssociationsBatchRequest"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicAssociationMultiWithLabel"
                                },
                                "example": null
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicAssociationMultiWithLabelWithErrors"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/objects/{fromObjectType}/{fromObjectId}/associations/default/{toObjectType}/{toObjectId}": {
            "put": {
                "tags": [
                    "Basic"
                ],
                "summary": "Associate records (default)",
                "description": "Create the default (most generic) association type between two object types",
                "operationId": "put-/crm/v4/objects/{fromObjectType}/{fromObjectId}/associations/default/{toObjectType}/{toObjectId}_createDefault",
                "parameters": [
                    {
                        "name": "fromObjectId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicDefaultAssociation"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access",
                            "oauth",
                            "oauth-access"
                        ]
                    }
                ]
            }
        },
        "/objects/{objectType}/{objectId}/associations/{toObjectType}": {
            "get": {
                "tags": [
                    "Basic"
                ],
                "summary": "Retrieve all associations by object type",
                "description": "Retrieve all associations between a specific record and an object type. Limit 500 per call.",
                "operationId": "get-/crm/v4/objects/{objectType}/{objectId}/associations/{toObjectType}_getPage",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to display per page",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 500,
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseMultiAssociatedObjectWithLabelForwardPaging"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access",
                            "oauth",
                            "oauth-access"
                        ]
                    }
                ]
            }
        },
        "/objects/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}": {
            "put": {
                "tags": [
                    "Basic"
                ],
                "summary": "Associate records (labelled)",
                "description": "Set association labels between two records.",
                "operationId": "put-/crm/v4/objects/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}_create",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/AssociationSpec"
                                },
                                "example": null
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LabelsBetweenObjectPair"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access",
                            "oauth",
                            "oauth-access"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Basic"
                ],
                "summary": "Delete associations between two records",
                "description": "deletes all associations between two records.",
                "operationId": "delete-/crm/v4/objects/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}_archive",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm-public-object-api-access",
                            "oauth",
                            "oauth-access"
                        ]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "StandardError": {
                "required": [
                    "category",
                    "context",
                    "errors",
                    "links",
                    "message",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "A more specific error category within each main category",
                        "example": null
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        },
                        "description": "Additional context-specific information related to the error",
                        "example": null
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "URLs linking to documentation or resources associated with the error",
                        "example": null
                    },
                    "id": {
                        "type": "string",
                        "description": "A unique ID for the error instance",
                        "example": null
                    },
                    "category": {
                        "type": "string",
                        "description": "The main category of the error",
                        "example": null
                    },
                    "message": {
                        "type": "string",
                        "description": "A human-readable string describing the error and possible remediation steps",
                        "example": null
                    },
                    "errors": {
                        "type": "array",
                        "description": "The detailed error objects",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        },
                        "example": null
                    },
                    "status": {
                        "type": "string",
                        "description": "The HTTP status code associated with the error",
                        "example": null
                    }
                },
                "description": "Represents a standard error response in the HubSpot API, providing detailed information about an error that occurred during an API request",
                "example": null
            },
            "LabelsBetweenObjectPair": {
                "required": [
                    "fromObjectId",
                    "fromObjectTypeId",
                    "labels",
                    "toObjectId",
                    "toObjectTypeId"
                ],
                "type": "object",
                "properties": {
                    "fromObjectTypeId": {
                        "type": "string",
                        "description": "The type ID of the source object in the association",
                        "example": null
                    },
                    "toObjectId": {
                        "type": "string",
                        "description": "The ID of the target object in the association",
                        "example": null
                    },
                    "toObjectTypeId": {
                        "type": "string",
                        "description": "The type ID of the target object in the association",
                        "example": null
                    },
                    "fromObjectId": {
                        "type": "string",
                        "description": "The ID of the source object in the association",
                        "example": null
                    },
                    "labels": {
                        "type": "array",
                        "description": "An array of labels associated with the relationship between the objects",
                        "items": {
                            "type": "string",
                            "example": null
                        },
                        "example": null
                    }
                },
                "description": "The relationship descriptors applicable between two object types",
                "example": null
            },
            "ReportCreationResponse": {
                "required": [
                    "enqueueTime",
                    "userEmail",
                    "userId"
                ],
                "type": "object",
                "properties": {
                    "userEmail": {
                        "type": "string",
                        "description": "Email of the user",
                        "example": null
                    },
                    "userId": {
                        "type": "integer",
                        "description": "ID of the user",
                        "format": "int32",
                        "example": null
                    },
                    "enqueueTime": {
                        "$ref": "#/components/schemas/DateTime",
                        "description": "Timestamp when the report creation request was enqueued"
                    }
                },
                "example": null,
                "description": "Response object containing details about a report creation request"
            },
            "PublicAssociationMultiWithLabel": {
                "required": [
                    "from",
                    "to"
                ],
                "type": "object",
                "properties": {
                    "from": {
                        "$ref": "#/components/schemas/PublicObjectId",
                        "description": "The source object identifier for the association"
                    },
                    "paging": {
                        "$ref": "#/components/schemas/Paging",
                        "description": "Pagination information for the associated objects"
                    },
                    "to": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MultiAssociatedObjectWithLabel"
                        },
                        "example": null,
                        "description": "Array of target objects with their association labels"
                    }
                },
                "example": null,
                "description": "Association data with labels linking source object to multiple targets"
            },
            "BatchInputPublicDefaultAssociationMultiPost": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicDefaultAssociationMultiPost"
                        },
                        "example": null,
                        "description": "Array of default association definitions to create"
                    }
                },
                "example": null,
                "description": "Batch input for creating multiple default associations"
            },
            "BatchInputPublicAssociationMultiArchive": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationMultiArchive"
                        },
                        "example": null,
                        "description": "Array of association definitions to archive"
                    }
                },
                "example": null,
                "description": "Batch input for archiving multiple associations"
            },
            "MultiAssociatedObjectWithLabel": {
                "required": [
                    "associationTypes",
                    "toObjectId"
                ],
                "type": "object",
                "properties": {
                    "associationTypes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssociationSpecWithLabel"
                        },
                        "example": null,
                        "description": "Array of association type specifications with labels"
                    },
                    "toObjectId": {
                        "type": "string",
                        "description": "The unique identifier for the target object in the association",
                        "example": null
                    }
                },
                "description": "Represents an object that is associated with multiple other objects, with optional context",
                "example": null
            },
            "DateTime": {
                "required": [
                    "dateOnly",
                    "timeZoneShift",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "dateOnly": {
                        "type": "boolean",
                        "description": "Indicates whether the DateTime value represents only a date without a time component",
                        "example": null
                    },
                    "timeZoneShift": {
                        "type": "integer",
                        "description": "The integer value representing the shift in minutes from UTC for the DateTime value",
                        "format": "int32",
                        "example": null
                    },
                    "value": {
                        "type": "integer",
                        "description": "The integer value representing a specific point in time",
                        "format": "int64",
                        "example": null
                    }
                },
                "example": null,
                "description": "Represents a date-time value with timezone information"
            },
            "ErrorDetail": {
                "required": [
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error",
                        "example": null
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail",
                        "example": null
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found",
                        "example": null
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        },
                        "description": "Context about the error condition",
                        "example": "{missingScopes=[scope1, scope2]}"
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": null
                    }
                },
                "example": null,
                "description": "Detailed error information for troubleshooting API issues"
            },
            "ForwardPaging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage",
                        "description": "Information for retrieving the next page of results"
                    }
                },
                "example": null,
                "description": "Pagination object for navigating forward through results"
            },
            "AssociationSpecWithLabel": {
                "required": [
                    "category",
                    "typeId"
                ],
                "type": "object",
                "properties": {
                    "typeId": {
                        "type": "integer",
                        "description": "The unique identifier for the type of association",
                        "format": "int32",
                        "example": null
                    },
                    "label": {
                        "type": "string",
                        "description": "A label describing the association between two objects",
                        "example": null
                    },
                    "category": {
                        "type": "string",
                        "description": "The category of the association, such as HUBSPOT_DEFINED, USER_DEFINED, or INTEGRATOR_DEFINED",
                        "enum": [
                            "HUBSPOT_DEFINED",
                            "INTEGRATOR_DEFINED",
                            "USER_DEFINED",
                            "WORK"
                        ],
                        "example": null
                    }
                },
                "description": "Defines the type, direction, and details of the relationship between two CRM objects",
                "example": null
            },
            "BatchResponseLabelsBetweenObjectPair": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch processing was completed, in ISO 8601 format",
                        "format": "date-time",
                        "example": null
                    },
                    "requestedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch request was initially made, in ISO 8601 format",
                        "format": "date-time",
                        "example": null
                    },
                    "startedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch processing began, in ISO 8601 format",
                        "format": "date-time",
                        "example": null
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "An object containing relevant links related to the batch request",
                        "example": null
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/LabelsBetweenObjectPair"
                        },
                        "example": null,
                        "description": "Array of labeled associations between object pairs"
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the batch processing request: \"PENDING\", \"PROCESSING\", \"CANCELLED\", or \"COMPLETE\"",
                        "enum": [
                            "CANCELED",
                            "COMPLETE",
                            "PENDING",
                            "PROCESSING"
                        ],
                        "example": null
                    }
                },
                "example": null,
                "description": "Batch response containing labeled associations between object pairs"
            },
            "PublicAssociationMultiPost": {
                "required": [
                    "from",
                    "to",
                    "types"
                ],
                "type": "object",
                "properties": {
                    "types": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssociationSpec"
                        },
                        "example": null,
                        "description": "Array of association type specifications to apply"
                    },
                    "from": {
                        "$ref": "#/components/schemas/PublicObjectId",
                        "description": "The source object identifier for the association"
                    },
                    "to": {
                        "$ref": "#/components/schemas/PublicObjectId"
                    }
                },
                "example": null,
                "description": "Request object for creating associations between objects"
            },
            "PublicObjectId": {
                "required": [
                    "id"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "ID of the object",
                        "example": null
                    }
                },
                "description": "Contains the Id of a Public Object",
                "example": null
            },
            "BatchResponsePublicAssociationMultiWithLabelWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "date-time",
                        "example": null
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "example": null
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "date-time",
                        "example": null
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time",
                        "example": null
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "example": null
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationMultiWithLabel"
                        },
                        "example": null
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "example": null
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "CANCELED",
                            "COMPLETE",
                            "PENDING",
                            "PROCESSING"
                        ],
                        "example": null
                    }
                },
                "example": null
            },
            "PublicAssociationMultiArchive": {
                "required": [
                    "from",
                    "to"
                ],
                "type": "object",
                "properties": {
                    "from": {
                        "$ref": "#/components/schemas/PublicObjectId"
                    },
                    "to": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicObjectId"
                        },
                        "example": null
                    }
                },
                "example": null
            },
            "Paging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage"
                    },
                    "prev": {
                        "$ref": "#/components/schemas/PreviousPage"
                    }
                },
                "example": null
            },
            "PublicDefaultAssociation": {
                "required": [
                    "associationSpec",
                    "from",
                    "to"
                ],
                "type": "object",
                "properties": {
                    "associationSpec": {
                        "$ref": "#/components/schemas/AssociationSpec"
                    },
                    "from": {
                        "$ref": "#/components/schemas/PublicObjectId"
                    },
                    "to": {
                        "$ref": "#/components/schemas/PublicObjectId"
                    }
                },
                "example": null
            },
            "Error": {
                "required": [
                    "category",
                    "correlationId",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error",
                        "example": null
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        },
                        "description": "Context about the error condition",
                        "example": "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
                    },
                    "correlationId": {
                        "type": "string",
                        "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                        "format": "uuid",
                        "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
                        "example": null
                    },
                    "category": {
                        "type": "string",
                        "description": "The error category",
                        "example": null
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": "An error occurred"
                    },
                    "errors": {
                        "type": "array",
                        "description": "further information about the error",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        },
                        "example": null
                    }
                },
                "example": {
                    "message": "Invalid input (details will vary based on the error)",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "category": "VALIDATION_ERROR",
                    "links": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    }
                },
                "description": "Represents an error response returned by the HubSpot API with details for troubleshooting"
            },
            "BatchInputPublicAssociationMultiPost": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationMultiPost"
                        },
                        "example": null,
                        "description": "Array of association records to be created in the batch request"
                    }
                },
                "example": null,
                "description": "Request payload containing multiple association records to create in a single batch operation"
            },
            "PublicDefaultAssociationMultiPost": {
                "required": [
                    "from",
                    "to"
                ],
                "type": "object",
                "properties": {
                    "from": {
                        "$ref": "#/components/schemas/PublicObjectId",
                        "description": "The source object identifier for the association"
                    },
                    "to": {
                        "$ref": "#/components/schemas/PublicObjectId",
                        "description": "The target object identifier for the association"
                    }
                },
                "example": null,
                "description": "Request payload for creating a default association between two HubSpot objects"
            },
            "BatchInputPublicFetchAssociationsBatchRequest": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicFetchAssociationsBatchRequest"
                        },
                        "example": null,
                        "description": "Array of association fetch requests to process in the batch"
                    }
                },
                "example": null,
                "description": "Request payload for fetching multiple associations in a single batch operation"
            },
            "BatchResponsePublicAssociationMultiWithLabel": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch processing was completed, in ISO 8601 format",
                        "format": "date-time",
                        "example": null
                    },
                    "requestedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch request was initially made, in ISO 8601 format",
                        "format": "date-time",
                        "example": null
                    },
                    "startedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch processing began, in ISO 8601 format",
                        "format": "date-time",
                        "example": null
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "An object containing relevant links related to the batch request",
                        "example": null
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationMultiWithLabel"
                        },
                        "example": null,
                        "description": "Array of successfully processed association records with labels"
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the batch processing request: \"PENDING\", \"PROCESSING\", \"CANCELED\", or \"COMPLETE\"",
                        "enum": [
                            "CANCELED",
                            "COMPLETE",
                            "PENDING",
                            "PROCESSING"
                        ],
                        "example": null
                    }
                },
                "example": null,
                "description": "Response containing batch results for association operations with label information"
            },
            "BatchResponsePublicDefaultAssociation": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch process was completed, in ISO 8601 format",
                        "format": "date-time",
                        "example": null
                    },
                    "numErrors": {
                        "type": "integer",
                        "description": "The number of errors encountered during the batch processing",
                        "format": "int32",
                        "example": null
                    },
                    "requestedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch process was initiated, in ISO 8601 format",
                        "format": "date-time",
                        "example": null
                    },
                    "startedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch process began execution, in ISO 8601 format",
                        "format": "date-time",
                        "example": null
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "An object containing relevant links related to the batch request",
                        "example": null
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicDefaultAssociation"
                        },
                        "example": null,
                        "description": "Array of successfully created default association records"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "example": null,
                        "description": "Array of errors encountered during batch processing"
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the batch processing request: \"PENDING\", \"PROCESSING\", \"CANCELLED\", or \"COMPLETE\"",
                        "enum": [
                            "CANCELED",
                            "COMPLETE",
                            "PENDING",
                            "PROCESSING"
                        ],
                        "example": null
                    }
                },
                "description": "The response returned after performing a batch operation on associations",
                "example": null
            },
            "AssociationSpec": {
                "required": [
                    "associationCategory",
                    "associationTypeId"
                ],
                "type": "object",
                "properties": {
                    "associationCategory": {
                        "type": "string",
                        "description": "The category of the association, such as \"HUBSPOT_DEFINED\"",
                        "enum": [
                            "HUBSPOT_DEFINED",
                            "INTEGRATOR_DEFINED",
                            "USER_DEFINED",
                            "WORK"
                        ],
                        "example": null
                    },
                    "associationTypeId": {
                        "type": "integer",
                        "description": "The ID representing the specific type of association",
                        "format": "int32",
                        "example": null
                    }
                },
                "description": "Defines the type, direction, and details of the relationship between two CRM objects",
                "example": null
            },
            "BatchResponseLabelsBetweenObjectPairWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "date-time",
                        "example": null,
                        "description": "Timestamp when the batch processing completed in ISO 8601 format"
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "example": null,
                        "description": "Total count of errors encountered during batch processing"
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "date-time",
                        "example": null,
                        "description": "Timestamp when the batch request was received in ISO 8601 format"
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time",
                        "example": null,
                        "description": "Timestamp when the batch processing started in ISO 8601 format"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "example": null,
                        "description": "Map of related links for documentation or remediation steps"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/LabelsBetweenObjectPair"
                        },
                        "example": null,
                        "description": "Array of successfully retrieved labeled associations between object pairs"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "example": null,
                        "description": "Array of errors that occurred during the batch operation"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "CANCELED",
                            "COMPLETE",
                            "PENDING",
                            "PROCESSING"
                        ],
                        "example": null,
                        "description": "The current processing status of the batch operation"
                    }
                },
                "example": null,
                "description": "Response containing labeled associations between object pairs with error details"
            },
            "PreviousPage": {
                "required": [
                    "before"
                ],
                "type": "object",
                "properties": {
                    "before": {
                        "type": "string",
                        "description": "A paging cursor token for retrieving previous pages",
                        "example": null
                    },
                    "link": {
                        "type": "string",
                        "description": "A URL that can be used to retrieve the previous pages' results",
                        "example": null
                    }
                },
                "description": "specifies the paging information needed to retrieve the previous set of results in a paginated API response",
                "example": null
            },
            "CollectionResponseMultiAssociatedObjectWithLabelForwardPaging": {
                "required": [
                    "results"
                ],
                "type": "object",
                "properties": {
                    "paging": {
                        "$ref": "#/components/schemas/ForwardPaging",
                        "description": "Pagination information for retrieving additional results"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MultiAssociatedObjectWithLabel"
                        },
                        "example": null,
                        "description": "Array of multi-associated objects with their associated labels"
                    }
                },
                "example": null,
                "description": "A paginated collection of multi-associated objects with their labels"
            },
            "NextPage": {
                "required": [
                    "after"
                ],
                "type": "object",
                "properties": {
                    "link": {
                        "type": "string",
                        "description": "A URL that can be used to retrieve the next page results",
                        "example": null
                    },
                    "after": {
                        "type": "string",
                        "description": "A paging cursor token for retrieving subsequent pages",
                        "example": null
                    }
                },
                "description": "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
                "example": null
            },
            "PublicFetchAssociationsBatchRequest": {
                "required": [
                    "id"
                ],
                "type": "object",
                "properties": {
                    "after": {
                        "type": "string",
                        "description": "A paging cursor token used to retrieve the next set of results in a paginated response",
                        "example": null
                    },
                    "id": {
                        "type": "string",
                        "description": "The unique identifier for the object whose associations are being fetched",
                        "example": null
                    }
                },
                "example": null,
                "description": "Request payload for fetching associations for a specific object in batch"
            }
        },
        "responses": {
            "Error": {
                "description": "An error occurred.",
                "content": {
                    "*/*": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": null
                    }
                }
            }
        },
        "securitySchemes": {
            "developer_hapikey": {
                "type": "apiKey",
                "name": "hapikey",
                "in": "query"
            },
            "hapikey": {
                "type": "apiKey",
                "name": "hapikey",
                "in": "query"
            },
            "oauth2": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "crm-public-object-api-access": "",
                            "oauth": "",
                            "oauth-access": ""
                        }
                    }
                }
            },
            "private_apps": {
                "type": "apiKey",
                "name": "private-app",
                "in": "header",
                "x-ballerina-name": "privateApp"
            },
            "private_apps_legacy": {
                "type": "apiKey",
                "name": "private-app-legacy",
                "in": "header",
                "x-ballerina-name": "privateAppLegacy"
            }
        }
    },
    "x-hubspot-available-client-libraries": [
        "Node",
        "Python",
        "Ruby",
        "PHP"
    ],
    "x-hubspot-product-tier-requirements": {
        "marketing": "FREE",
        "sales": "FREE",
        "service": "FREE",
        "cms": "FREE",
        "commerce": "FREE",
        "crmHub": "FREE",
        "dataHub": "FREE"
    }
}